@import "tailwindcss";

@theme {
  --color-search: rgb(255 167 160);
  --color-cam: rgb(198, 234, 132);
  --color-black-10: rgb(229 227 219);
  --color-fff: rgb(255 255 255 / 0%);
  --color-input: rgb(255 250 230);
  --color-input-hover: rgb(227 224 213);
  --color-primary: #0000007f;
  --color-green167: rgb(0, 167, 109);
  --color-shadow: #8aa45c;
  --color-petrol: rgb(19 51 56);
}

@layer utilities {
  @keyframes shrink {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }

  .progress-bar {
    animation-name: shrink;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .running {
    animation-play-state: running;
  }

  .paused {
    animation-play-state: paused;
  }
}
